{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Banner -->
<section class="bnnerHed newsBnnr">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="disCover_otrBx">
                    <h1 class="wordCarousel">
                        <span> News </span>
                    </h1>
                    <form method="GET" action="{% url 'news' %}">
                        <div class="discovInput_bx">
                            <input type="text" name="search" placeholder="{% if search_query %}{{ search_query }}{% else %}Search from {{ news_count }} AI News{% endif %}">
                            <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
                            {% if search_query %}
                                <button type="button" class="clear-btn" onclick="clearSearch()"><a href="{% url 'news' %}">Clear</a></button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner -->


<!-- Section 1 -->
<section class="toolSec favOther_sec">
    <div class="container">
        <div class="flt_containerBx">
            <div class="vrsBox_grid">

                {% for item in news %}
                    <div class="otrOpt_bx">
                        <div class="_gradientTop">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'image/News-min.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="_prdExp">
                            <div class="_prdX_first">
                                <h1>{{ item.title }}</h1>
                                <p>{{ item.description }}</p>
                            </div>
                            <div class="_prdX_second">


                                <div class="siteCt_bx">
                                    <div class="eyeCt_bx">
                                        <i class="fa-solid fa-eye"></i>
                                        <span>{{ item.click_count }}</span>
                                    </div>

                                    <div class="visitSite_bx">
                                        <a href="{{ item.webpage }}" target="_blank" class="visitSite_btn">Read more</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- Section 1 -->
{% block scripts %}

<script>
    function clearSearch() {
        var searchInput = document.querySelector('input[name="search"]');
        searchInput.value = '';
        // Submit the form to reload the news list without the search query
        searchInput.closest('form').submit();
    }
</script>
{% endblock scripts %}


{% endblock content %}