{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner -->
<section class="bnnerHed tribeBnnr">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="disCover_otrBx">
                    <h1 class="wordCarousel">
                        <span> Tribe </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner -->


<!-- Section 1 -->
<section class="tribSection">
<div class="container">
    <div class="flt_containerBx">
        <div class="tribOrt-bx">

<!--            <div class="tribInr-col">-->
<!--                <div class="iconOrd">-->
<!--                    <img src="{% static 'image/tribe-news.png' %}" alt="">-->
<!--                </div>-->

<!--                <div class="trbContent">-->
<!--                    <h4>News</h4>-->
<!--                    <p>It is a long established fact that a reader will be distracted </p>-->
<!--                </div>-->

<!--                <div class="trbChats_bx">-->
<!--                    <p>Profile Picture AI utilizes artificial intelligence to generate a pfps of you that looks perfect and </p>-->
<!--                    <div class="trb-chtBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop_2"><span><img src="{% static 'image/chat-icon.svg' %}" alt=""></span>Chat 5.2k</div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="tribInr-col">
                <div class="iconOrd">
                    <img src="{% static 'image/tribe-health.png' %}" alt="">
                </div>

                <div class="trbContent">
                    <h4>Health</h4>
                    <p>Guiding Your Path to Wellness: Care for Every Step </p>
                </div>

                <div class="trbChats_bx">
                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure embarrassing </p>
                    <a href="{% url 'story-maker' %}"><div class="trb-chtBtn" ><span><img src="{% static 'image/chat-icon.svg' %}" alt=""></span>Chat</div></a>
<!--                    <div class="trb-chtBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop_2"><span><img src="{% static 'image/chat-icon.svg' %}" alt=""></span>Chat</div>-->
                </div>
            </div>

<!--            <div class="tribInr-col">-->
<!--                <div class="iconOrd">-->
<!--                    <img src="{% static 'image/tribe-education.png' %}" alt="">-->
<!--                </div>-->

<!--                <div class="trbContent">-->
<!--                    <h4>Wealth</h4>-->
<!--                    <p>Building Wealth, Securing Dreams: Partnering for Success </p>-->
<!--                </div>-->

<!--                <div class="trbChats_bx">-->
<!--                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, </p>-->
<!--                    <div class="trb-chtBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop_2"><span><img src="{% static 'image/chat-icon.svg' %}" alt=""></span>Chat 5.2k</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="tribInr-col">-->
<!--                <div class="iconOrd">-->
<!--                    <img src="{% static 'image/tribe-lifestyle.png' %}" alt="">-->
<!--                </div>-->

<!--                <div class="trbContent">-->
<!--                    <h4>Wealth</h4>-->
<!--                    <p>Building Wealth, Securing Dreams: Partnering for Success</p>-->
<!--                </div>-->

<!--                <div class="trbChats_bx">-->
<!--                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum </p>-->
<!--                    <div class="trb-chtBtn" ><span><img src="{% static 'image/chat-icon.svg' %}" alt=""></span>Chat</div>-->
<!--                    <div class="trb-chtBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop_2"><span><img src="{% static 'image/chat-icon.svg' %}" alt=""></span>Chat</div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</div>
</section>
<!-- Section 1 -->

{% endblock content %}