/*
    * Project Name : 'Zabsports'
    * Built by : 'Anvit Singh Chouhan'
*/

/*--====== Global Variables ======--*/


html {
    scroll-behavior: smooth;
}


nav.mobNav {
    /* position: absolute; */
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 0.6em 1.2em;
    align-items: center;
    transition: all .3s;
    background-color: #fff;
    top: 0;
}

nav.mobNav.stickyHead {
    position: fixed;
    transition: all .3s;
    z-index: 999;
    background-color: #fff;
    box-shadow: 1px 1px 4px #ddd;
}

nav.mobNav.stickyHead .sidebar_toggler span {
    background-color: #000;
}

nav.mobNav img.inverLogo {
    display: none;
}

nav.mobNav.stickyHead img.stnd_logo {
    display: none;
}


nav.mobNav.stickyHead img.inverLogo {
    display: block;
}

.mobNavigate {
    /* position: absolute;
    z-index: 9;
    top: 1.5em;
    left: 1.6em; */
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/*--====== Sidebar ======--*/
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 300px;
    width: 80%;
    height: 100%;
    padding: 0em 2rem;
    background-color: #252C4E;
    box-shadow: 0 0px 230px 60px #252C4E;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
}

.sidebar_body {
    height: 100vh;
    overflow: auto;
    padding-top: 5em !important;
}

/* when the sidebar has 'show' class */
#sidebar.show {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.sidebar_content.sidebar_head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* text-align: center; */
    z-index: 9;
    padding: 1em 2em 1rem;
    background-color: #252C4E;
}

.sidebar_content {
    padding: 5px 0 2.8rem;
    /* pointer-events: none; */
}

.sidebar_content a {
    pointer-events: all;
    /* so that all the <a> inside sidebar_content are clickable */
}

.sidebar_body {
    /* border-top: 1px dashed var(--text-color);
    border-bottom: 1px dashed var(--text-color); */
}

.side_navlinks ul {
    display: grid;
    gap: 1.5rem;
    padding: 0.5em 0 0 0;
    margin: 0;
}

.side_navlinks li a {
    color: #fff;
}

.side_navlinks a:hover {
    opacity: 1;
}

/*---- Sidebar-Toggler ----*/
.sidebar_toggler {
    /* position: absolute;
    top: 1.4em;
    right: 3vw; */
    width: 1.75rem;
    height: 1.3rem;
    display: flex;
    z-index: 9;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
}

.sidebar_toggler span {
    background-color: #252C4E;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
    pointer-events: none;
    /* so that it doesn't overlap the sidebar_toggler */
}

/* if the sidebar has 'show' class then their adjacent-sibling (i.e., sidebar_toggler) will... */
#sidebar.show+.sidebar_toggler {
    justify-content: center;
}

#sidebar.show+.sidebar_toggler span {
    margin-top: -1.2px;
    margin-bottom: -1.2px;
}

#sidebar.show+.sidebar_toggler span:first-child {
    transform: rotate(45deg);
}

#sidebar.show+.sidebar_toggler span:nth-child(2) {
    opacity: 0;
    transform: translateX(-100%);
}

#sidebar.show+.sidebar_toggler span:last-child {
    transform: rotate(-45deg);
}


nav.side_navlinks a.pstJob_btn {
    background-color: #ffa750;
    opacity: 1;
    padding: 1em 1.6em;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

nav.side_navlinks a.pstJob_btn:hover {
    color: #fff;
    background: #ffae67;
}

nav.side_navlinks a.lgnBtn {
    padding: 0.6em 1.6em;
    border: 2px solid;
    display: inline-block;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

nav.side_navlinks a.lgnBtn:hover {
    background-color: #fff;
    color: #2943d5;
    border: 2px solid #fff;
}