{% extends 'auth_base.html' %}
{% load static %}
{% block content %}

<div class="px-3 py-12 sm:py-16">
    <div class="form-container">

        <div class="d-flex align-items-center justify-content-center">
            <a href="" class="go-home nuxt-link-active">
                <span class="sr-only">Get AI</span>
                <img src="{% static 'image/headLogo.png' %}" alt="Get AI" class="h-8 w-auto sm:h-11">
            </a>
        </div>

        <div class="mt-11">
            <h1 class="text-gray-1000 font-semibold title break-words">Reset your password</h1>

            <div class="form mt-5">
                <form action="{% url 'forgot_password' %}" method="POST" class="el-form">
                    {% csrf_token %}
                    <div class="el-form-item is-required">
                        <label for="email" class="el-form-item__label">Email</label>
                        <div class="el-form-item__content">
                            <div class="el-input">
                                <input type="email" name="email" placeholder="Please enter your email address"
                                    class="el-input__inner" required>
                            </div>
                        </div>
                    </div>

                    <div class="el-form-item mt-6">
                        <div class="el-form-item__content">
                            <button type="submit" class="el-button w-full h-11 to-signIn el-button--primary">
                                <span>Send</span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            {% if error %}
                <p>{{ error }}</p>
            {% endif %}

            {% if success %}
                <p>{{ success }}</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}
